@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Azeret Mono", monospace;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
.banner-section-container{
position: absolute;
width: 1440px;
height: 652px;
margin: 0 auto;
top: 131px;
bottom: 4462px;
left: 0;
right: 0;
 /* border: 2px solid red;  */
background-image: url(../assets/Hero-bg.png);
text-align: center;

}
.description{
  color: rgb(81, 86, 97);

}
.contact-btn{
  
position: static;
width: 208px;
height: 66px;
margin: 32px 0px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255,255,255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.why-web-dev{
  /* Frame 13 */
position: absolute;
width: 1140px;
height: 1395px;
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);

}
.why-web-dev-container{
  /* Frame 5 */
position: static;
width: 852px;
height: 115px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}
.section-titel{
  /* Why Web Development?? */
position: static;
width: 852px;
height: 39px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.description-2{
  /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. */
position: static;
width: 852px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.center-section{
  /* Frame 12 */
position: static;
width: 946px;
height: 1235px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.information-container{
  /* Frame 11 */
position: static;
width: 946px;
height: 1072px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}
.information{
/* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
/* align-items: center; */
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.layer-1{
position: absolute;
right: 0;
}
.information-title{
  /* I will Do Coding and Change The World */
position: static;
width: 390px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
Font: Azeret Mono
Font weight: 700
Font size: 24pxpx
Row height: 36px
Letter spacing: 0%
}
.information-description{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;

Font: Azeret Mono
Font weight: 400
Font size: 16pxpx
Row height: 26px
Letter spacing: 0%


}

  







