@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Azeret Mono", monospace;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
.banner-section-container{
position: absolute;
width: 1440px;
height: 652px;
margin: 0 auto;
border: 2px solid red;
background-image: url(../assets/Hero-bg.png);
text-align: center;

}
.description{
  color: rgb(81, 86, 97);

}
.contact-btn{
  
position: static;
width: 208px;
height: 66px;
margin: 32px 0px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255,255,255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}






